//Imports
@import url('https://fonts.googleapis.com/css?family=Playfair+Display:400,900');


//Variables
$primary-color: #000;
$accent-color: #99cc00;
$text-color: #fff;
$white: #fff;
$black: #000;

//Mixins

////Most Used Classes////

//Display Classes
.display-block{
  display: block;
}
.display-flex{
  display: flex;
  &.display-flex--row{
    flex-direction: row;
    &.flex-dir-reverse{
      flex-direction: row-reverse;
    }
  }
  &.display-flex--column{
    flex-direction: column;
    &.flex-dir-reverse{
      flex-direction: column-reverse;
    }
  }
}
.flex-grow{
  &--1 {
    flex-grow: 1;
  }
}

//Position Classes
.pos-rel{
  position: relative;
}
.pos-absolute{
  position: absolute;
}
.pos-fixed{
  position: fixed;
}
.top-left-0{
  top: 0;
  left: 0;
}
.margin-center{
  margin: 0 auto;
}

//Colour Classes
.colour-primary{
  color: $primary-color;
}
.colour-accent{
  color: $accent-color;
}
.text-colour--default{
  color: $text-color;
}
.is-white{
  color: $white;
}
.is-black{
  color: $black;
}

//Typography classes
.text-upper{
  text-transform: uppercase;
}
.text-center{
  text-align: center;
}

//Sizing Classes
.height--100{
  height: 100%;
}
.width--100{
  width: 100%;
}

//Layout Classes
.layout-m{
  &-t{
    &--1{
      margin-top: 8px;
    }
    &--2{
      margin-top: 16px;
    }
    &--3{
      margin-top: 32px;
    }
    &--4{
      margin-top: 64px;
    }
  }
  &-b{
    &--1{
      margin-bottom: 8px;
    }
    &--2{
      margin-bottom: 16px;
    }
    &--3{
      margin-bottom: 32px;
    }
    &--4{
      margin-bottom: 64px;
    }
  }
  &-r{
    &--1{
      margin-right: 8px;
    }
    &--2{
      margin-right: 16px;
    }
    &--3{
      margin-right: 32px;
    }
    &--4{
      margin-right: 64px;
    }
  }
  &-l{
    &--1{
      margin-left: 8px;
    }
    &--2{
      margin-left: 16px;
    }
    &--3{
      margin-left: 32px;
    }
    &--4{
      margin-left: 64px;
    }
  }
}

.layout-p{
  &-t{
    &--1{
      padding-top: 8px;
    }
    &--2{
      padding-top: 16px;
    }
    &--3{
      padding-top: 32px;
    }
    &--4{
      padding-top: 64px;
    }
  }
  &-b{
    &--1{
      padding-bottom: 8px;
    }
    &--2{
      padding-bottom: 16px;
    }
    &--3{
      padding-bottom: 32px;
    }
    &--4{
      padding-bottom: 64px;
    }
  }
  &-r{
    &--1{
      padding-right: 8px;
    }
    &--2{
      padding-right: 16px;
    }
    &--3{
      padding-right: 32px;
    }
    &--4{
      padding-right: 64px;
    }
  }
  &-l{
    &--1{
      padding-left: 8px;
    }
    &--2{
      padding-left: 16px;
    }
    &--3{
      padding-left: 32px;
    }
    &--4{
      padding-left: 64px;
    }
  }
}

//Project Specific Button styles
.btn-primary{
  height: 40px;
  background: $accent-color;
  width: 200px;
  font-size: 14px;
  border: 1px solid $accent-color;
  transition: 0.3s ease;
  outline: none;
  color: $white;
  cursor: pointer;
  &:hover{
    color: $accent-color;
    background: $white;
  }
  &.btn-back-transparent:hover{
    background: transparent;
    color: $accent-color;
  }
}
.btn-primary--reverse{
  height: 40px;
  background: $white;
  width: 200px;
  font-size: 14px;
  border: 1px solid $accent-color;
  transition: 0.3s ease;
  outline: none;
  color: $accent-color;
  &:hover{
    color: $white;
    background: $accent-color;
    cursor: pointer;
  }
}

////Project Specific Classes////

body{
  padding-top: 75px; //for fixed header
}

.fixed-header{
  height: 75px;
  background: $primary-color;
  align-items: center;
  justify-content: center;
  padding: 0 20px;
  box-sizing: border-box;
  width: 100%;
  z-index: 999;
  a.header-logo-link{
    left: 1.5vw;
    top: 2.5vh;
  }
  ul.header-menu-list{
    justify-content: center;
    align-items: center;
    li.menu-item{
      margin: 0 1vw;
      font-size: 14px;
      &:hover a{
        transition: 0.3s ease;
        color: $accent-color;
      }
    }
  }
}//fixed header END


header#headerBanner{
  background: url("../images/header-bg-desktop.jpg") center center no-repeat;
  background-size: cover;
  height: 47.4vw;
  #headerElements{
    justify-content: space-between;
    .header-top-banner{
      font-family: 'Playfair Display', serif;
      position: relative;
      bottom: -7vw;
      font-weight: 400;
      display: flex;
      flex-flow: column;
      align-items: center;
      span{
        font-size: 2.1vw;
        position: relative;
        &#The{
          bottom: -2.5vw;
          left: -5.4vw;
        }
        &#Greatest{
          font-size: 6vw;
        }
        &#hrShows{
          top: -1.6vw;
          right: -2.4vw;
        }
      }
    }//header-top-banner END
    .header-bottom-banner{
      .headerBottomTitle{
        margin-bottom: 12px;
        font-size: 32px;
        font-weight: 900;
        letter-spacing: 1px;
      }
      .header-buttons {
        max-width: 430px;
        justify-content: space-between;
      }
      #headerSponsors{
        justify-content: space-around;
        margin: 2vw 0;
        .feature-keynote-wrapper{
          .keynote-title{
            font-size: 18px;
          }
          .keynote-person{
            font-size: 28px;
            font-weight: 900;
          }
        }
        #sponsorList{
          justify-content: space-between;
          align-items: flex-end;
          img{
            height: 1.5vw;
            margin-right: 2vw;
          }
          a:last-child img{
            margin-right: 0;
          }
        }
      }
    }//header-bottom-banner END
  }//header-el-wrapper END
}//header tag END

section#futureOfWork{
  max-width: 70vw;
  div.section-first{
    div#iconsContainer{
      max-width: 70vw;
      justify-content: center;
      .work-icon{
        height:4vw;
        width: 4vw;
        position: relative;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        .work-icon--title{
          top: -3.5vw;
          width: 200px;
          background: rgba(0,0,0,0.07);
          left: -5.1vw;
          box-sizing: border-box;
          font-size: 12px;
          transition: all 0.3s ease;
          transform:translate3d(0,10px,0) rotate3d(0,1,0,90deg);
        }
        .work-icon--title.show{
          transform: translate3d(0,0,0) scale3d(1,1,1);
          &:after{
            content: "";
            position: absolute;
            bottom: -2.2vw;
            left: 6vw;
            border: 16px;
            border-style: solid;
            border-color: transparent;
            border-top-color: rgba(0,0,0,0.07);
            height:0;
            width: 0;
            background: transparent;
          }
        }
        .work-icon--img{
          height: 30px;
          width: 30px;
          background-size: contain !important;
          transition: 0.3s ease;
        }
        &#HomeIcon{
          .work-icon--img {
            background: url("../images/scale-icons/grey/home.svg") center center no-repeat;
            &.hovered, &:hover{
              background: url("../images/scale-icons/colour/home.svg") center center no-repeat;
              transform: scale(1.8,1.8);
            }
          }
        }
        &#MainStageIcon{
          .work-icon--img {
            background: url("../images/scale-icons/grey/mainstage.svg") center center no-repeat;
            &.hovered, &:hover{
              background: url("../images/scale-icons/colour/mainstage.svg") center center no-repeat;
              transform: scale(1.8,1.8);
            }
          }
        }
        &#HRIcon{
          .work-icon--img {
            background: url("../images/scale-icons/grey/hrtech.svg") center center no-repeat;
            &.hovered, &:hover{
              background: url("../images/scale-icons/colour/hrtech.svg") center center no-repeat;
              transform: scale(1.8,1.8);
            }
          }
        }
        &#TalentIcon{
          .work-icon--img {
            background: url("../images/scale-icons/grey/irecruitandtalent.svg") center center no-repeat;
            &.hovered, &:hover{
              background: url("../images/scale-icons/colour/irecruitandtalent.svg") center center no-repeat;
              transform: scale(1.8,1.8);
            }
          }
        }
        &#SmartDataIcon{
          .work-icon--img {
            background: url("../images/scale-icons/grey/smartdata.svg") center center no-repeat;
            &.hovered, &:hover{
              background: url("../images/scale-icons/colour/smartdata.svg") center center no-repeat;
              transform: scale(1.8,1.8);
            }
          }
        }
        &#LearningIcon{
          .work-icon--img {
            background: url("../images/scale-icons/grey/learning.svg") center center no-repeat;
            &.hovered, &:hover{
              background: url("../images/scale-icons/colour/learning.svg") center center no-repeat;
              transform: scale(1.8,1.8);
            }
          }
        }
        &#AdoptionIcon{
          .work-icon--img {
            background: url("../images/scale-icons/grey/adoption.svg") center center no-repeat;
            &.hovered, &:hover{
              background: url("../images/scale-icons/colour/adoption.svg") center center no-repeat;
              transform: scale(1.8,1.8);
            }
          }
        }
        &#PayrollIcon{
          .work-icon--img {
            background: url("../images/scale-icons/grey/hrssandpayroll.svg") center center no-repeat;
            &.hovered, &:hover{
              background: url("../images/scale-icons/colour/hrssandpayroll.svg") center center no-repeat;
              transform: scale(1.8,1.8);
            }
          }
        }
        &#RewardsIcon{
          .work-icon--img {
            background: url("../images/scale-icons/grey/payandrewards.svg") center center no-repeat;
            &.hovered, &:hover{
              background: url("../images/scale-icons/colour/payandrewards.svg") center center no-repeat;
              transform: scale(1.8,1.8);
            }
          }
        }
        &#DigitalIcon{
          .work-icon--img {
            background: url("../images/scale-icons/grey/digitalhr.svg") center center no-repeat;
            &.hovered, &:hover{
              background: url("../images/scale-icons/colour/digitalhr.svg") center center no-repeat;
              transform: scale(1.8,1.8);
            }
          }
        }
        &#DiversityIcon{
          .work-icon--img {
            background: url("../images/scale-icons/grey/diversityandinclusion.svg") center center no-repeat;
            &.hovered, &:hover{
              background: url("../images/scale-icons/colour/diversityandinclusion.svg") center center no-repeat;
              transform: scale(1.8,1.8);
            }
          }
        }
        &#ThinkIcon{
          .work-icon--img {
            background: url("../images/scale-icons/grey/thinktank.svg") center center no-repeat;
            &.hovered, &:hover{
              background: url("../images/scale-icons/colour/thinktank.svg") center center no-repeat;
              transform: scale(1.8,1.8);
            }
          }
        }
        &#ThinkIconII{
          .work-icon--img {
            background: url("../images/scale-icons/grey/thinktanktwo.svg") center center no-repeat;
            &.hovered, &:hover{
              background: url("../images/scale-icons/colour/thinktanktwo.svg") center center no-repeat;
              transform: scale(1.8,1.8);
            }
          }
        }
        &#disruptIcon{
          .work-icon--img {
            background: url("../images/scale-icons/grey/disrupthr.svg") center center no-repeat;
            &.hovered, &:hover{
              background: url("../images/scale-icons/colour/disrupthr.svg") center center no-repeat;
              transform: scale(1.8,1.8);
            }
          }
        }
        &#ProductIcon{
          .work-icon--img {
            background: url("../images/scale-icons/grey/productdemo.svg") center center no-repeat;
            &.hovered, &:hover{
              background: url("../images/scale-icons/colour/productdemo.svg") center center no-repeat;
              transform: scale(1.8,1.8);
            }
          }
        }
        &:hover > .work-icon--title{
          transform: translate3d(0,0,0) scale3d(1,1,1);
          &:after{
            content: "";
            position: absolute;
            bottom: -2.2vw;
            left: 6vw;
            border: 16px;
            border-style: solid;
            border-color: transparent;
            border-top-color: rgba(0,0,0,0.07);
            height:0;
            width: 0;
            background: transparent;
          }
        }
      }
    }
  }
  div.section-second{
    max-width: 70%;
    #iconInfo{
      #sectionTitle{
        font-size: 2.5vw;
        font-weight: 700;
      }
      p#sectionDesc{
        font-size: 1vw;
        font-weight: 300;
        letter-spacing: 1px;
        line-height: 1.6vw;
      }
    }
    #sectionButtons{
      max-width: 60%;
      justify-content: space-between;
    }
  }
}//section Future of Work END

section#peopleAttending{
  background: $black;
  .section-wrapper{
    max-width: 70vw;
    #firstSection{
      max-width: 70%;
      #sectionFirstTitle{
        font-size: 24px;
        font-weight: 900;
      }
      .section-first-desc{
        max-width: 82%;
        font-size: 14px;
        line-height: 1.4vw;
        font-weight: 300;
      }
    }
    #secondSection{
      #attendeesList{
        justify-content: space-between;
        flex-wrap: wrap;
        background: $white;
        div.speaker{
          flex: 0 1 13.8vw;
          margin-bottom: 4px;
          .speaker-img{

          }
          div.person-description{
            left: 0;
            bottom: 0;
            text-align: left;
            background: rgba(0,0,0,0.7);
            font-size: 12px;
            font-weight: 100;
            padding: 8px;
            padding-bottom: 2px;
            line-height: 1.2vw;
            .person-title{
              font-size: 14px;
              font-weight: 300;
            }
          }
        }
      }
      #secondSectionFooter{
        .section-footer-title{
          font-weight: 400;
          font-size: 30px;
        }
        .section-footer-desc{
          max-width: 70%;
          font-size: 14px;
          font-weight: 300;
          line-height: 1.7vw;
        }
        .know-more-section{
          .know-more-title{
            font-weight: 400;
            font-size: 30px;
          }
          .know-more-form-wrapper{
            max-width: 64%;
            form.know-more-form{
              justify-content: space-between;
              input[type="text"] {
                width: 200px;
                padding: 4px 10px;
                font-size: 14px;
                outline: none;
              }
            }
          }
        }
      }
    }
  }
}

