//Variables
$primary-color: #000;
$accent-color: #99cc00;
$text-color: #fff;
$white: #fff;
$black: #000;

//Mixins

//Most Used Classes

//Display Classes
.display-block{
  display: block;
}
.display-flex{
  display: flex;
  &.display-flex--row{
    flex-direction: row;
    &.flex-dir-reverse{
      flex-direction: row-reverse;
    }
  }
  &.display-flex--column{
    flex-direction: column;
    &.flex-dir-reverse{
      flex-direction: column-reverse;
    }
  }
}
.flex-grow{
  &--1 {
    flex-grow: 1;
  }
}

//Position Classes
.pos-rel{
  position: relative;
}
.pos-absolute{
  position: absolute;
  &.top-left-0{
    top: 0;
    left: 0;
  }
}
.pos-fixed{
  position: fixed;
}

//Colour Classes
.colour-primary{
  color: $primary-color;
}
.colour-accent{
  color: $accent-color;
}
.text-colour--default{
  color: $text-color;
}
.is-white{
  color: $white;
}
.is-black{
  color: $black;
}

//Typography classes
.text-upper{
  text-transform: uppercase;
}

//Sizing Classes
.height--100{
  height: 100%;
}
.width--100{
  width: 100%;
}

//Project Specific Classes
.fixed-header{
  height: 75px;
  background: $primary-color;
  align-items: center;
  justify-content: center;
  padding: 0 20px;
  box-sizing: border-box;
  width: 100%;
  a.header-logo-link{
    left: 1.5vw;
    top: 2.5vh;
  }
  ul.header-menu-list{
    justify-content: center;
    align-items: center;
    li.menu-item{
      margin: 0 1vw;
      font-size: 14px;
      &.is-button{
        .btn-primary{
          height: 40px;
          background: $accent-color;
          width: 200px;
          font-size: 14px;
          border: 1px solid $accent-color;
          transition: 0.3s ease;
          outline: none;
          &:hover{
            color: $accent-color;
            background: $white;
            cursor: pointer;
          }
        }
      }
      &:hover a{
        transition: 0.3s ease;
        color: $accent-color;
      }
    }
  }
}

